.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto;
    padding-inline: 50px;
    column-gap: 100px;
    max-width: 1000px;
    /* outline: solid red; */
}
.product-details .product-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-details .product-title {
    /* margin-top: 10px; */
}
.product-details .product-actions .rating {
    display: flex;
    gap: 10px;
    margin-block: 10px;
}

.product-form select {
    width: 80%;
    padding-block: 5px;
    margin-block: 10px;
    font-size: 1.5rem;
    font-family: var(--body-font);
}
.product-form .quantity {
    display: flex;
    font-size: 1.5rem;
    margin-block: 20px;
    align-items: center;
    user-select: none;
}
.product-form .quantity > * {
    border: 0.5px solid gray;
    padding: 10px 15px;
}
.product-form .quantity .change-quantity {
    cursor: pointer;
}
.product-form .quantity .change-quantity:hover {
    background: lightgray;
}
.product-form button {
    width: 70%;
    padding-block: 15px;
    background: rgb(0, 0, 105);
    opacity: 0.7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.product-form button:hover {
    opacity: 1;
}


@media screen and (min-width: 960px) {

}