
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.category {
    display: flex;
    gap: 20px;
    flex: 1;
    padding-inline: 50px;
    position: relative;
}

.category.products {
    gap: 30px;
    font-size: 1.3rem;
}
.category.other {
    gap: 10px;
    justify-content: right;
}
.category.title {
    justify-content: center;
}

.dropdown-content {
    position: absolute;
    background: white;
    border-inline: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
}
.dropdown-content * {
    padding: 5px 10px;
}
.dropdown-content *:hover {
    background: lightgray;
}

.link {
    color: black;
    text-decoration: none;
}